@model DashboardViewModel

@{
    ViewData["isExpenseTrackerApp"] = true;
}

@*Summary Widget*@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Income</span>
                <h1 class="display-6">@ViewBag.TotalIncome</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Expense</span>
                <h1 class="display-6">@ViewBag.TotalExpense</h1>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex flex-row widget summary balance">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Balance</span>
                <h1 class="display-6">@ViewBag.Balance</h1>
            </div>
        </div>
    </div>
</div>

<!--Selected Dates-->
<div class="row mb-4">
    <div class="col-md-5">
        <div class="widget chart">
            <div class="p-4">
                <h3 class="fw-bold"> Date Selected:</h3>
                <p class="lead"> @ViewBag.StartDate <i class="bi bi-arrow-right-short"></i> @ViewBag.EndDate </p>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="widget chart">
            <div class="p-4">
                <form asp-action="Index" method="post" class="row d-flex justify-content-around align-items-center">
                    <div class="mb-2 col-md-5">
                        <label asp-for="StartDate" class="form-label"></label>
                        <input asp-for="StartDate" type="date" class="form-control bg-dark text-white text-center" value="23/09/2022" />
                        <span asp-validation-for="StartDate" class="text-danger" style="font-size:small"></span>
                    </div>

                    <div class="mb-2 col-md-5">
                        <label asp-for="EndDate" class="form-label"></label>
                        <input asp-for="EndDate" type="date" class="form-control bg-dark text-white text-center" value="23/09/2022" />
                        <span asp-validation-for="EndDate" class="text-danger" style="font-size:small"></span>
                    </div>

                    <div class="mb-2 col-md-2">
                        <button type="submit" class="btn btn-outline-light fw-bold">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--doughnut-->
<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h3 class="fw-bold"> Expenses by Category</h3>
            </div>
            <ejs-accumulationchart id="doughnutchart" enableSmartLabels background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource=@ViewBag.DoughnutChart xName="categoryTitleWithIcon" yName="amount" 
                    innerRadius="50%" legendShape="Circle">
                        <e-accumulationseries-datalabel name="formattedAmount" visible>
                        </e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
                <e-accumulationchart-legendsettings position="Top" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-accumulationchart-legendsettings>
                <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>

    <!--Line chart-->
    <div class="col-md-8">
        <div class="widget chart">
            <div class="d-flex flex-row justify-content-between p-4">
                <h3 class="fw-bold">Income vs Expense</h3>

                <form asp-action="More" method="post" class="row d-flex justify-content-around align-items-center">
                    <input type="hidden" asp-for="StartDate" />
                    <input type="hidden" asp-for="EndDate" />
                    <button type="submit" class="btn btn-outline-light fw-bold">View More</button>

                    @*<a asp-action="More" asp-controller="Dashboard" class="btn btn-outline-light fw-bold">View More</a>*@
                </form>
            </div>
            <ejs-chart id="dashedLineContainer" palettes=@(new string[]{ "#65da41","#ff4e48" })>
     
                <e-chart-tooltipsettings enable="true" shared="true">
                </e-chart-tooltipsettings>
                <e-chart-primaryxaxis valueType="Category">                                                                                                                                                                                             
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis >
                    <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-crosshairsettings enable=true lineType="Vertical">
                    <e-crosshairsettings-line color="rgba(204,214,235,0.25)" width="20"></e-crosshairsettings-line>
                </e-chart-crosshairsettings>
                <e-series-collection>
                    <e-series dataSource="@ViewBag.LineChartData" xName="Day" yName="Income" name="Income" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"
                              width="3">
                        @*<e-series-marker visible="true" height="10" width="10"></e-series-marker>*@
                    </e-series>
                    <e-series dataSource="@ViewBag.LineChartData" xName="Day" yName="Expense" name="Expense" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"
                              width="3">
                        @*<e-series-marker visible="true" height="10" width="10" shape="Diamond"></e-series-marker>*@
                    </e-series>
                </e-series-collection>
                <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="true">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-chart-legendsettings>
            </ejs-chart>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="widget">
            <div class="d-flex flex-row justify-content-between p-4">
                <h3>Recent Transactions</h3>
                <a asp-controller="Transaction" asp-action="Create" class="btn btn-outline-light fw-bold">Add transaction</a>
            </div>
            <div class="pb-4 px-4">
                <ejs-grid id="recent-transaction" dataSource="@ViewBag.RecentTransaction" gridLines="None">
                    <e-grid-columns>
                        <e-grid-column headerText="Category" field="CategoryWithIcon"></e-grid-column>
                        <e-grid-column headerText="Date" field="Date" type="date" format="dd-MMM-yy" textAlign="Left" width="120px"></e-grid-column>
                        <e-grid-column headerText="Amount" field="FormattedAmount" textAlign="Left" width="120px"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="widget">
            <div class="p-4">
                <h3>Highest Transactions</h3>
            </div>
            <div class="pb-4 px-4">
                <ejs-grid id="highest-transaction" dataSource="@ViewBag.HighestTransaction" gridLines="None">
                    <e-grid-columns>
                        <e-grid-column headerText="Category" field="CategoryWithIcon"></e-grid-column>
                        <e-grid-column headerText="Date" field="Date" type="date" format="dd-MMM-yy" textAlign="Left" width="120px"></e-grid-column>
                        <e-grid-column headerText="Amount" field="FormattedAmount" textAlign="Left" width="120px"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </div>
        </div>
    </div>
</div>